<!--Order details form-->
<!--role="tabpanel" id="step2"-->
<div class="personal-info col-md-6 col-md-offset-2"  ng-show="isTabSelected(2)" ng-controller="CalculatePriceCtrl">
    <form role="form">
        <div class="form-group row">
            <label class="col-md-4 control-label" for="type_of_paper">Paper type:</label>
            <div class="col-md-8">
                <select class="form-control" id="type_of_paper" name="typeOfPaper"
                        ng-options="type.value group by type.group for type in paperTypes" ng-model="paperTypes[0]">
                </select>

                <div class="error-messages" ng-show="details.isMessagesVisible()" ng-messages="form.typeOfPaper.$error"
                     ng-cloak>
                    <div ng-message="required">The type of paper is mandatory</div>
                    <!--<div ng-message="email">must be a valid email</div>-->
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-4 control-label" for="subject">Subject:</label>
            <div class="col-md-8">
                <select class="form-control" id="subject" name="subject"
                        ng-options="subject for subject in subjects" ng-model="subjects[0]">
                </select>

                <div class="error-messages" ng-show="details.isMessagesVisible()" ng-messages="form.subject.$error"
                     ng-cloak>
                    <div ng-message="required">The subject is mandatory</div>
                    <!--<div ng-message="email">must be a valid email</div>-->
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 control-label" for="topic">Topic:</label>
            <div class="col-md-8">
                <input type="text" class="form-control" id="topic" ng-model="topic"
                       name="topic" required>

                <div class="error-messages" ng-show="details.isMessagesVisible()" ng-messages="form.topic.$error"
                     ng-cloak>
                    <div ng-message="required">The topic is mandatory</div>
                    <!--<div ng-message="email">must be a valid email</div>-->
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 control-label" for="order-instructions">Order Instructions:</label>
            <div class="col-md-8">
                <textarea rows="4" class="form-control" id="order-instructions" ng-model="orderInstructions"
                          name="instructions" required></textarea>

                <div class="error-messages" ng-show="details.isMessagesVisible()" ng-messages="form.instructions.$error"
                     ng-cloak>
                    <div ng-message="required">Order instructions are mandatory</div>
                    <!--<div ng-message="email">must be a valid email</div>-->
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-4 control-label" for="style">Style:</label>
            <div class="col-md-8">
                <select class="form-control" id="style" name="style"
                        ng-options="style for style in styles" ng-model="styles[0]">
                </select>

                <div class="error-messages" ng-show="details.isMessagesVisible()" ng-messages="form.style.$error"
                     ng-cloak>
                    <div ng-message="required">The style is mandatory</div>
                    <!--<div ng-message="email">must be a valid email</div>-->
                </div>
            </div>
        </div>

        <ul class="list-inline pull-right">
            <li><button type="button" class="btn btn-default" ng-click="details.processOrderDetails()">Proceed</button></li>
            <li><label><input type="checkbox">Remember me</label></li>
        </ul>
    </form>
</div>