<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="animated fadeInDown">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">FCKWENTRUM</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Who we are</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Order NOW</a></li>
                    <li><button type="button" onclick="location.href='/resources/public/login.html'" class="btn btn-default navbar-btn">Sign in</button></li>
                </ul>
            </div>
            <div class="navicon">
                <a class="nav-toggle" href="#"><span></span></a>
            </div>
        </div>
    </div>
</nav>