<!--Price Calculation form-->
<div class="price-calc-form col-md-7 col-md-offset-2" role="tabpanel" id="step1" ng-show="isTabSelected(3)">
    <form class="form-inline" role="form">

        <!--Type of service-->
        <div class="form-group row">
            <label class="col-md-4 control-label" for="type_of_service">Type of service:</label>
            <div class="col-md-8">
                <select class="form-control" id="type_of_service">
                    <option value="1" selected="selected">Writing from scratch</option>
                    <option value="2">Editing/proofreading</option>
                </select>
            </div>
        </div>

        <!--Deadline buttons-->
        <div class="form-group row">
            <label class="col-md-4 control-label">Deadline:</label>
            <div class="col-md-8">
                <base-template template="{{price.deadlineButtonsTemplate}}"></base-template>
            </div>
        </div>

        <!--Number of slides-->
        <div class="form-group row">
            <label class="col-md-4 control-label">Number of slides:</label>
            <div class="col-sm-3">
                <div class="input-group">
                      <span class="input-group-btn">
                        <button name="plus-slide" class="btn btn-default number-input" type="button"
                                ng-click="price.plusSlide()">+</button>
                      </span>
                      <input type="number" min="0" max="100" class="form-control" ng-model="price.currentSlideNumber">
                      <span class="input-group-btn">
                        <button name="minus-slide" class="btn btn-default number-input" type="button"
                                ng-click="price.minusSlide()">-</button>
                      </span>
                </div>
            </div>
        </div>

        <!--Academic Level-->
        <div class="form-group row">
            <label class="col-md-4 control-label">Academic level:</label>
            <div class="col-md-8">
                <base-template template="{{price.academicLevelButtonsTemplate}}"></base-template>
            </div>
        </div>

        <!--Number of pages-->
        <div class="form-group row">
            <label class="col-md-4 control-label">Number of pages:</label>
            <div class="col-md-8">
                <base-template template="{{price.academicLevelButtonsTemplate}}"></base-template>
            </div>
        </div>


        <div class="checkbox pull-right">
            <label><input type="checkbox"> Remember me</label>
        </div>
        <ul class="list-inline pull-right">
            <li><button type="button" class="btn btn-default" ng-click="register.processUserDetails()">Proceed</button></li>
        </ul>
    </form>
</div>