<!--Price Calculation form-->
<div class="custom-form col-md-6 col-md-offset-3" role="tabpanel" id="step1" ng-show="isTabSelected(3)">
    <form class="form-inline" role="form">
        <div class="form-group row">
            <label class="col-md-3 control-label" for="type_of_service">Type of service:</label>
            <div class="col-md-9">
                <select class="form-control" id="type_of_service" name="typeOfService"
                        ng-options="style for style in typesOfService" ng-model="styles[0]">
                    <option value="1" selected="selected">Writing from scratch</option>
                    <option value="2">Editing/proofreading</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 control-label">Deadline:</label>
            <div class="col-md-9">
                <deadline-buttons template="{{price.buttonsTemplate}}"></deadline-buttons>
            </div>
        </div>
        <div class="form-group row">
            <label class="retype-email-label col-md-2 control-label" for="retype-email">Re-Type Email:</label>
            <div class="col-md-10">
                <input type="email" class="form-control" id="retype-email"
                       ng-model="vm.retypeemail" name="retypeemail" required="" check-matches="vm.email">

                <div class="error-messages" ng-show="register.isMessagesVisible()" ng-messages="form.retypeemail.$error"
                     ng-cloak>
                    <div ng-message="required">The email is mandatory</div>
                    <div ng-message="checkMatches">emails must match</div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 control-label" for="phone">Phone:</label>
            <div class="col-md-10">
                <input type="phone" class="form-control" id="phone" ng-model="vm.phone" placeholder="+38(099)4422876"
                       ng-keyup="">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 control-label" for="password">Password:</label>
            <div class="col-md-10">
                <input type="password" class="form-control" id="password" ng-model="vm.password" name="password" placeholder="Password"
                       required ng-minlength="6" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}">

                <div class="error-messages" ng-show="register.isMessagesVisible()" ng-messages="form.password.$error"
                     ng-cloak>
                    <div ng-message="required">The password is mandatory</div>
                    <div ng-message="minlength">must have minimum 6 characters</div>
                    <div ng-message="pattern">At least one number and uppercase</div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-2 control-label" for="retype-password">Re-Type Password:</label>
            <div class="col-md-10">
                <input type="password" class="form-control" id="retype-password" ng-model="vm.retypepassword" name="retypepassword" placeholder="Password"
                       required ng-minlength="6" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" check-matches="vm.password">

                <div class="error-messages" ng-show="register.isMessagesVisible()" ng-messages="form.retypepassword.$error"
                     ng-cloak>
                    <div ng-message="required">The password is mandatory</div>
                    <div ng-message="minlength">must have minimum 6 characters</div>
                    <div ng-message="pattern">At least one number and uppercase</div>
                    <div ng-message="checkMatches">Passwords must match</div>
                </div>
            </div>
        </div>
        <div class="checkbox pull-right">
            <label><input type="checkbox"> Remember me</label>
        </div>
        <ul class="list-inline pull-right">
            <li><button type="button" class="btn btn-default" ng-click="register.processUserDetails()">Proceed</button></li>
        </ul>
    </form>
</div>